# デフォルトの無視対象ファイル
workspace.xml
tasks.xml
usage.statistics.xml
dictionaries/
shelf/

# データベースやHTTPクライアントなどのローカルデータ
dataSources/
dataSources.ids
dataSources.local.xml
sqlDataSources.xml
dynamic.xml
uiDesigner.xml
dbnavigator.xml
httpRequests/

# その他
coverage/
contentModel.xml

# 不要なプラグイン・ローカル設定
go.imports.xml
deployment.xml
inspectionProfiles/
